<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<title>PLM Registration</title>

<script src="../js/lib/jquery.min.js"></script>
<script src="../js/lib/kendo.all.min.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>
<script src="../js/app/registration.js"></script>
<link rel="stylesheet" href="../css/app.css" />
<link rel='stylesheet' href='js-form-validation.css' type='text/css' />
<link rel="stylesheet" href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.common.min.css" />
<link rel="stylesheet" href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.bootstrap.min.css" />
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
<style scoped>
        #vertical
        {
            min-height: 850px;
            width: 95%;
            margin: 0 auto;
        }

        .login
        {
            min-height: 800px;
            width: 95%;
            margin: 0 auto;
        }

        .header
        {
            background-color: rgba(60, 70, 80, 0.10);
        }
    </style>

</head>

<body style="background-image: url('../css/Images/bg.png'); opacity: 0.8;" onload="document.registration.firstname.focus();">
    
<h1>Registration Form</h1>
<form name='registration' onSubmit="return formValidation();">
<table class="table table-condensed" style="width:70%;font-weight:700;margin-left:10%;">
                <tr>
                <td></td>
                <td id="errormsg" align="center" style="color:#FFFFFF; font-style:italic; font-weight: bold; font-size: 24px"></td>
                </tr>
                <div id="errorMsg" align="center" style="color:#FFFFFF; font-style:italic; font-weight: bold; font-size: 24px"></div>
                <tr  class="success">
                    <td colspan="2">
                        <h4>Register here to create an account with PLM</h4>
                    </td>
                </tr>
                <tr>
                    <td>First name </td>
                    <td>
                        <input type="text" name="firstname" size="25" /></td>
                </tr>
                <tr   class="success">
                    <td>Last name </td>
                    <td>
                        <input type="text" name="lastname" size="25" /></td>
                </tr>
                <tr>
                    <td>E-mail </td>
                    <td>
                        <input type="text" name="email" size="25" /></td>
                </tr>
                <tr   class="success">
                    <td>Username </td>
                    <td>
                        <input type="text" name="userid" size="25" /></td>
                </tr>
                <tr>
                    <td>Password </td>
                    <td>
                        <input type="password" name="passid" size="25" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Submit" style="position: absolute; left: 540px;" /></td>
                    <td><input type="submit" name="reset" value="Reset" style="position: absolute; left: 640px;"/></td>
                </tr>
            </table>
</form>
        <footer style="text-align: center; width: 100%; color: #514e4e">
            <div>
                <div>
                    <p><b>&copy; 2013 - METCS673F13P4</b></p>
                </div>
            </div>
        </footer>
</body>
</html>
